<div class="my-content container-fluid p-0 bg-white">
  <div class="container-fluid pt-0 px-0 my_about_us">
    <div class="row justify-content-center my_header_title mb-0 pt-5 mt-5">
     		<h2>About Us</h2>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-sm-9 bg-white about_us_home_content px-0">
        <div class="row justify-content-sm-center no-gutters">
        </div>
        <div class="row justify-content-sm-center mx-0">
          <div class="row ml-0">
            <div class="col-sm pt-4 justify-content-sm-center pb-3 my_about_us_home_header bg-white px-2 mx-1">
              <center class="mx-2 px-2">
                <h1>Welcome To Riados Auto</h1>
                  <h4>Used Cars, SUVs, & Trucks in Winnipeg</h4>
                </center>
            </div>
          </div>
							<div class="row justify-content-sm-center mx-0 ml-0 my_about_us_home_text">
								<div class="col-sm-12 mx-0 px-0 pt-0 pb-3">
									<center class="bg-white mx-2 px-2">
										<p> Welcome to Riados Auto , We are the premier used car dealer for customers shopping for pre-owned cars, trucks, or SUV's in Manitoba. We have an inventory of vehicles that smaller dealers cannot match. No matter what make, model, year, or body type, we'll have the perfect car for your needs at a great price.</p>
										<p>We stand out from other used car dealerships with our great service. Our finance department works hard every day to find you the best low rates and loan packages, and our zero-negotiation policy means that every customer will get the same low prices regardless of their bargaining power.</p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>