<h1>Vehicles</h1>
<p>Find me in app/views/vehicles/index.html.erb</p>

<h1><%= @vehicles.first.car.make.name %></h1>

<ul>
	<% @vehicles.each do |vehicle| %>
		<li><%= vehicle.car.model %></li>
	<% end %>
</ul>